{% extends 'movie/base.html' %}
{% block bb %}
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="title">영화제목</label>
        <input type="text" class="form-control" id="title" name="title" required/>
      </div>
      <div class="form-group">
        <label for="title_en">영문제목</label>
        <input type="text" class="form-control" id="title_en" name="title_en" required/>
      </div>
      <div class="form-group">
        <label for="audience">관객</label>
        <input type="number" class="form-control" id="audience" name="audience">
      </div>
      <div class="form-group">
        <label for="open_date">개봉일</label>
        <input type="date" class="form-control" id="open_date" name="open_date">
      </div>
      <div class="form-group">
        <label for="genre">장르</label>
        <input type="text" class="form-control" id="genre" name="genre">
      </div>
      <div class="form-group">
        <label for="watch_grade">관람등급</label>
        <input type="text" class="form-control" id="watch_grade" name="watch_grade">
      </div>
      <div class="form-group">
        <label for="score">평점</label>
        <input type="number" step="0.01" class="form-control" id="score" name="score">
      </div>
      <div class="form-group">
        <label for="poster_url">포스터 보기</label>
        <input type="text" class="form-control" id="poster_url" name="poster_url">
      </div>
      <div class="form-group">
        <label for="description">상세설명</label>
        <textarea rows="4" cols="50" name="description"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}